{% include template-start.liquid %}

<main role="main">
    <section class="section section-text-page">
        <div class="container post">
            <h2 class="post__title">{{ page.title }}</h2>
            <time datetime="{{ page.date }}" class="post__date">{{ page.date | date_to_string }}</time>
            {{ content }}

            <nav class="post__related">
                {% if page.previous %}
                    <a href="{{ site.baseurl }}{{ page.previous.url }}">&larr;&nbsp;{{ page.previous.title }}</a>
                {% endif %}
                {% if page.next %}
                    <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&rarr;</a>
                {% endif %}
            </nav>
        </div>
    </section>
</main>

{% include template-end.liquid %}
